@charset "utf-8";
/* CSS Document */

body,html{
	width:100%;
	height:100%;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,margin,img{
	margin:0;
	padding:0;
	}

header{
	width:100%;
	height:370px;
	background:url(../imgs/ym4.jpg);
	margin:0 auto;
	position:relative;
}
.top{
	width:100%;
	height:70px;
	background:#333333;
	box-shadow:#333 0px 0px 20px;
}
.top_reg{
	width:70%;
	height:70px;
	margin:0 auto;
}
.top_content a{
	display:inline-block;
	width:110px;
	height:70px;
	text-decoration:none;
	text-align:center;
	line-height:70px;
	color:#ccc;
	font-size:20px;
}
.top_content{
	float:right;
}
a:hover{
	background:#000;
}
.nav_text{
	width:450px;
	height:100px;	
	position:absolute;
	top:200px;
	left:500px;
	}
p{
	font-size:40px;
	color:#333;
}
bdo{
	font-size:22px;
	color:#333;
}
/*头部*/
article{
	width:1270px;
	height:1250px;
	margin:0 auto;
}
.left{
	width:910px;
	height:1100px;
	float:left;
}
.jpdg{
	width:910px;
	height:55px;
	border-bottom:1px dashed #dcdcdc;
	margin-top:20px;
	clear:left;
}
h3{
	color:#666;
	font-size:28px;
}
.ticket{
	list-style:none;
	margin-top:20px;
	width:910px;
	height:35px;
}
.hc{
	float:left;
	color:#666;
	font-size:18px;
	margin-right:20px;
	padding:5px;
	
}
.lx{
	float:left;
	font-size:18px;
	margin-right:20px;
	background:#448b00;
	color:#fff;
	padding:5px;
	border-radius:5px;
}
form{
	clear:left;
	color:#666;
	font-size:18px;
}
.cf{
	width:730px;
	height:150px;
	float:left;
}
input{
	width:260px;
	height:40px;
	vertical-align:central;
	margin-left:20px;
	border-radius:5px;
	margin-top:20px;
	font-size:18px;
	border:1px solid #dcdcdc;
}
button{
	float:left;
	padding:36px 25px;
	margin:20px;
	font-size:18px;
	background:#ff6600;
	border:none;
	color:#fff;
	border-radius:5px;
}
table{
	width:860px;
	height:585px;
	border:1px solid #dcdcdc;
	text-align:center;
	border-collapse:collapse;
	margin-top:20px;
	line-height:40px;
}
tr:nth-child(2n+1){
	background:#f2fcfb;
}
tr:last-child{
	background:#fff;
}
tr:hover{
	background:#99DCFD;
}
th{
	color:#666;
	font-size:18px;
	height:50px;
	background:#fff;
}
td{
	color:#666;
	font-size:16px;
	height:40px;
	border:1px solid #dcdcdc;
}
.cs{
	width:180px;
}
.jg{
	color:#ff6600;
	font-size:20px;
}
.yd{
	width:80px;
	height:30px;
	background:#ff6600;
	border:none;
	color:#fff;
	margin-top:-20px;
}
.xl{
	width:180px;
	height:50px;
}
/*中间*/
.right{
	width:340px;
	height:1200px;
	float:left;
	margin-top:30px;
	margin-left:10px;
}
.right_top{
	width:340px;
	height:310px;
	border:1px solid #dcdcdc;
}
.jdtj{
	width:340px;
	height:40px;
	background:#fafafa;
	font-size:22px;
	line-height:40px;
	text-indent:5px;
	color:#666;
}
.jdtj_ul{
	width:320px;
	height:270px;
	margin:10px 10px;;
	font-size:16px;
	color:#999;
	float:left;
}
.jdtj_ul li{
	width:100px;
	height:30px;
	background:#eee;
	text-indent:5px;
	list-style:none;
	margin-top:5px;
	line-height:30px;
	float:left;
	margin-left:5px;
}
.right_middle{
	width:340px;
	height:680px;
	border:1px solid #dcdcdc;
	margin-top:10px;
	clear:both;
}
.rmly_img img{
	width:150px;
	height:120px;
	float:left;
}
.rmly_img{
	width:150px;
	height:145px;
	margin-left:10px;
	float:left;
	margin-top:10px;
}
.rmly_img figcaption{
	clear:both;
	width:150px;
	font-size:14px;
	text-align:center;
	color:#666;
	padding-top:10px;
}
.right_final{
	width:340px;
	height:155px;
	border:1px solid #dcdcdc;
	margin-top:20px;
}
ol{
	width:320px;
	height:150px;
	margin: 10px auto;
}
ol img{
	vertical-align:middle;
}
.right_final ol li{
	width:145px;
	height:35px;
	background:#eee;
	float:left;
	list-style:none;
	margin-left:5px;
	margin-top:5px;
	text-indent:5px;
	color:#999;
	line-height:35px;
	padding-left:5px;
	float:left;
}
/*右边*/
footer{
	width:100%;;
	height:360px;
	background:#222;
	clear:both;
}
.footer_reg{
	width:70%;
	height:280px;
	margin:0px auto;
}
.ann{
	width:350px;
	list-style:none;
	float:left;
	margin-left:40px;
	margin-top:25px;
	
}
.ann_li{
	width:350px;
	height:32PX;
	color:#cbcdcc;
	font-size:24px;
	font-family:微软黑体;
	border-bottom:1px dashed #333;
}
.ann_lin{
	color:#777;
	font-size:16px;
	padding-top:10px;
}
.ft{
	width:100%;
	height:50px;
	background:#000;
	border-top:1px solid #666;
	color:#777;
	text-align:center;
	padding-top:30px;
	font-size:16px;
}